.msg-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(216, 185, 245);
  opacity: 0.7;
  color: rgb(233, 234, 235);
 
  
}

.img-container {
  width: 200px;
  height: 200px;
  color: white;
  
}

.text-msg {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
  color: white;
}