body {
  margin: 0;
  padding: 20px;
  background-image: url('../public/cover.webp');
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat ;
  max-width: 100%;
 
  color: #4f4d51;
  font-family: montserrat, Arial, Helvetica, sans-serif;
  width: 100%;
  
}
#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
