.Icon-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  font-size: 24px;
  font-weight: 700;
}
.Icon-container-check {
  position: absolute;
  left: 14px;
}
.Icon-container-check--active {
  color: #4caf50;
}
.Icon-container-delete {
  position: absolute;
  top: -24px;
  right: 0;
}
.Icon-container-delete:hover {
  color: red;
}
.Icon-svg {
  width: 30px;
  height: 30px;
}
.Icon-container-check:hover .Icon-svg {
  fill: rgb(58, 161, 7);
}
.Icon-container-delete:hover .Icon-svg {
  fill: red;
}
